#basket {
    max-width: 1200px;
    margin: 0 auto;
}

#basket-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 17px 0;
}

.title-container-text {
    width: 290px;
    padding-left: 410px;
}

.basket-block {
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(155, 155, 155, 0.25);
    border-radius: 5px;
    width: 612px;
    box-sizing: border-box;
    padding: 30px 30px 30px 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
}

.basket-block-img {
    max-width: 180px;
    max-height: 130px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.basket-block-img img {
    width: 120px;
    height: 130px;
    margin: 0 auto;
}

.basket-block-descr {
    max-width: 360px;
}

.basket-block-text {
    font-family: "MullerRegular", sans-serif;
    color: #373B2E;
    font-size: 14px;

    line-height: 17px;
}

.basket-milliliter {
    font-family: "MullerRegular", sans-serif;
    font-size: 14px;
    color: #373B2E;
    padding: 10px 0 18px 0;
}

.basket-block-price {
    font-family: "MullerBold", sans-serif;
    font-size: 20px;
    color: #373B2E;
}

.basket-block-specification {
    display: flex;
    justify-content: space-between;
    max-width: 330px;
}

#basket-btn-img {
    width: 510px;
    height: 190px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(155, 155, 155, 0.25);
    border-radius: 5px;
    padding: 25px 20px 25px 25px;
    z-index: 5;
}

#basket-btn-img-border {
    border: 1px solid #AFE2BB;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#basket-btn-img-border div {
    font-family: "PlayfairDisplayBold", sans-serif;
    font-size: 24px;
    color: #373B2E;
    width: 280px;
}

#basket-btn-img-border div span {
    font-family: "PlayfairDisplayBold", sans-serif;
    font-style: italic;
    color: #8bc979;
}

#basket-container-btn {
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(155, 155, 155, 0.25);
    border-radius: 5px;
    width: 429px;
    padding: 25px;
    box-sizing: border-box;
    height: 450px;
    margin-top: -135px;
    z-index: 3;
}

#basket-container-btn-border {
    border: 1px solid #AFE2BB;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 164px 25px 30px 25px;
    height: 100%;
}

#basket-btn-quantity {
    display: flex;
    justify-content: space-between;
    color: #373B2E;
    font-size: 24px;
    font-family: "MullerBold", sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E4E4;;
}

#basket-btn-quantity div:nth-child(2) {
    font-family: "MullerRegular", sans-serif;
}

#basket-btn-price {
    display: flex;
    justify-content: space-between;
    color: #373B2E;
    font-size: 24px;
    font-family: "MullerBold", sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
}

#basket-btn-price div:nth-child(2) {
    font-family: "MullerRegular", sans-serif;
}

#basket-btn .gods-block-btn {
    padding: 25px 30px;
    font-size: 24px;
}

#basket-block-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}